<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web3.mapper.DepositRecordMapper">

    <!--
        真正的批量 INSERT SQL
        底层执行：INSERT INTO deposit_record (...) VALUES (...), (...), (...)
        性能：1 次 SQL 插入多条记录
    -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO deposit_record (
            tx_hash,
            chain_name,
            user_address,
            token_address,
            amount,
            block_number,
            status,
            create_time,
            update_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.txHash},
                #{item.chainName},
                #{item.userAddress},
                #{item.tokenAddress},
                #{item.amount},
                #{item.blockNumber},
                #{item.status},
                #{item.createTime},
                #{item.updateTime}
            )
        </foreach>
    </insert>

</mapper>
